In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
aapl =pd.read_csv('AAPL.csv',index_col="date",skiprows=[1])
goog =pd.read_csv('GOOG.csv',index_col="date",skiprows=[1])
msft =pd.read_csv('MSFT.csv',index_col="date",skiprows=[1])
amzn =pd.read_csv('AMAZON.csv',index_col="date",skiprows=[1])

In [3]:
aapl.head()

             close      volume    open      high       low
date
2019/08/23  202.64  46882840.0  209.43  212.0510  201.0000
2019/08/22  212.46  22267820.0  213.19  214.4350  210.7500
2019/08/21  212.64  21564750.0  212.99  213.6500  211.6032
2019/08/20  210.36  26919530.0  210.88  213.3500  210.3200
2019/08/19  210.35  24431920.0  210.62  212.7307  210.0250

In [4]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1259 entries, 2019/08/23 to 2014/08/25
Data columns (total 5 columns):
close     1259 non-null float64
volume    1259 non-null float64
open      1259 non-null float64
high      1259 non-null float64
low       1259 non-null float64
dtypes: float64(5)
memory usage: 59.0+ KB

In [5]:
msft1=msft.iloc[1:]
msft1.head()

             close      volume     open      high      low
date
2019/08/22  137.78  18709660.0  138.660  139.2000  136.290
2019/08/21  138.79  14982310.0  138.550  139.4935  138.000
2019/08/20  137.26  21189000.0  138.210  138.7100  137.240
2019/08/19  138.41  24370540.0  137.855  138.5500  136.885
2019/08/16  136.13  25026150.0  134.880  136.4600  134.720

In [6]:
msft

              close       volume     open      high       low
date
2019/08/23  133.390   38515390.0  137.190  138.3500  132.8000
2019/08/22  137.780   18709660.0  138.660  139.2000  136.2900
2019/08/21  138.790   14982310.0  138.550  139.4935  138.0000
2019/08/20  137.260   21189000.0  138.210  138.7100  137.2400
2019/08/19  138.410   24370540.0  137.855  138.5500  136.8850
2019/08/16  136.130   25026150.0  134.880  136.4600  134.7200
2019/08/15  133.680   28125420.0  134.390  134.5800  132.2500
2019/08/14  133.980   32527250.0  136.360  136.9200  133.6700
2019/08/13  138.600   25496590.0  136.050  138.8000  135.0000
2019/08/12  135.790   20484350.0  137.070  137.8600  135.2400
2019/08/09  137.710   23466700.0  138.610  139.3800  136.4600
2019/08/08  138.890   27496510.0  136.600  138.9900  135.9300
2019/08/07  135.280   33414540.0  133.790  135.6500  131.8284
2019/08/06  134.690   32696650.0  133.800  135.6800  133.2100
2019/08/05  132.210   42749550.0  133.300  133.9298  130.7800
2019/08/02  136.900   30791620.0  138.090  138.3200  135.2600
2019/08/01  138.060   40557500.0  137.000  140.9383  136.9300
2019/07/31  136.270   38598790.0  140.330  140.4900  135.0800
2019/07/30  140.350   16846530.0  140.140  141.2199  139.8005
2019/07/29  141.030   16605870.0  141.500  141.5100  139.3663
2019/07/26  141.340   19037600.0  140.370  141.6750  140.3000
2019/07/25  140.190   18356880.0  140.430  140.6100  139.3215
2019/07/24  140.720   20738280.0  138.900  140.7400  138.8500
2019/07/23  139.290   18034590.0  139.760  139.9900  138.0300
2019/07/22  138.430   25080760.0  137.410  139.1900  137.3300
2019/07/19  136.620   48992360.0  140.220  140.6700  136.4500
2019/07/18  136.420   30808710.0  135.550  136.6200  134.6700
2019/07/17  136.270   20210960.0  137.700  137.9300  136.2200
2019/07/16  137.080   22726130.0  138.960  139.0500  136.5200
2019/07/15  138.900   16651460.0  139.440  139.5400  138.4600
...             ...          ...      ...       ...       ...
2014/10/06   46.090   20532430.0   46.120   46.3000   45.9199
2014/10/03   46.090   32351720.0   45.980   46.3000   45.6100
2014/10/02   45.760   25297400.0   45.830   46.1000   45.6400
2014/10/01   45.900   38050210.0   46.270   46.5300   45.8450
2014/09/30   46.360   32996820.0   46.370   46.4763   46.0100
2014/09/29   46.440   26057810.0   45.980   46.5600   45.7600
2014/09/26   46.410   27051350.0   45.930   46.6200   45.7600
2014/09/25   46.040   32927320.0   46.880   47.0900   46.0300
2014/09/24   47.080   26533890.0   46.630   47.1100   46.3400
2014/09/23   46.560   33386790.0   46.850   46.9800   46.4700
2014/09/22   47.060   38655550.0   47.300   47.3800   46.9800
2014/09/19   47.520  202514100.0   46.810   47.5700   46.6000
2014/09/18   46.680   35493560.0   46.590   46.8300   46.4600
2014/09/17   46.520   38247550.0   46.260   46.6900   46.2300
2014/09/16   46.760   27865200.0   46.390   46.8500   46.2900
2014/09/15   46.240   37630230.0   46.540   46.7100   46.1000
2014/09/12   46.695   38224850.0   46.910   47.0200   46.6000
2014/09/11   47.000   29201070.0   46.740   47.0000   46.4700
2014/09/10   46.840   27297820.0   46.820   46.9400   46.2800
2014/09/09   46.760   40248050.0   46.470   46.9700   46.4200
2014/09/08   46.470   45709750.0   46.020   46.8000   45.9900
2014/09/05   45.910   36687170.0   45.110   45.9300   45.1100
2014/09/04   45.260   26475110.0   44.740   45.2700   44.7200
2014/09/03   44.960   33662430.0   44.530   45.1100   44.5300
2014/09/02   45.090   22956270.0   45.430   45.4600   44.8500
2014/08/29   45.430   21577940.0   45.090   45.4400   44.8550
2014/08/28   44.880   17656590.0   44.750   44.9800   44.6100
2014/08/27   44.870   20822900.0   44.900   45.0000   44.7600
2014/08/26   45.005   14850670.0   45.310   45.3950   44.9400
2014/08/25   45.170   16815800.0   45.400   45.4400   45.0400

[1259 rows x 5 columns]

In [9]:
goog.drop(["16:00"],axis=1,inplace=True)
goog.head()

KeyError: "['16:00'] not found in axis"

In [ ]:
amzn

In [ ]:
amzn["volume"].plot()
amzn.head()

In [ ]:
amzn["close"].plot()

In [ ]:
amzn.sort_values(by=["date"],ascending=True,inplace=True)

In [ ]:
amzn.head()

In [ ]:
amzn.sort_values(by=["date"],ascending=True,inplace=True)

In [ ]:
type(amzn["close"][123])

In [ ]:
type(goog["close"][123])

In [ ]:

type(aapl["close"][123])

In [ ]:
type(msft["close"][123])

In [ ]:
msft["close"].plot()

In [ ]:
goog["close"].plot()

In [ ]:
aapl.sort_values(by=["date"],ascending=True,inplace=True)

In [ ]:
aapl.dtypes

In [ ]:
def nasdaq_forcast(*args):
    for dataset in args:
        dataset.sort_values(by=["date"],ascending=True,inplace=True)
#     dataset[column].plot()

In [ ]:
nasdaq_forcast(goog,amzn,aapl,msft)

In [ ]:
amzn.head()

In [ ]:
aapl["close"].plot(figsize=(10,5),label="Apple",title="5 years stock pricee")
goog["close"].plot(label="Google")
msft["close"].plot(label="microsoft")
amzn["close"].plot(label="Amazon")
plt.legend()

for volume

In [ ]:
aapl["volume"].plot(figsize=(10,5),label="Apple",title="5 years stock price")
goog["volume"].plot(figsize=(10,5),label="Google")

amzn["volume"].plot(figsize=(10,5),label="Amazon")

msft["volume"].plot(figsize=(10,5),label="Microsoft")

plt.legend()

In [ ]:
msft["volume"].argmax()

In [ ]:
msft["volume"].argmin()

In [ ]:
goog["close"].argmax()

TOTAL TRADE AMOUNT

In [ ]:
aapl.head()

In [ ]:
aapl["Total Trade"]=aapl["close"]*aapl["volume"]

In [ ]:
aapl.head()

In [ ]:
aapl["Total Trade"]=aapl["close"]*aapl["volume"]
goog["Total Trade"]=aapl["close"]*goog["volume"]
amzn["Total Trade"]=aapl["close"]*amzn["volume"]
msft["Total Trade"]=aapl["close"]*msft["volume"]

In [ ]:
msft.head()

In [ ]:
goog.head()

In [ ]:
amzn.head()

In [ ]:
aapl["Total Trade"].plot(figsize=(10,5),label="Apple",title="5 years stock price")
goog["Total Trade"].plot(figsize=(10,5),label="Google")

amzn["Total Trade"].plot(figsize=(10,5),label="Amazon")

msft["Total Trade"].plot(figsize=(10,5),label="Microsoft")

plt.legend()

In [ ]:
msft["Total Trade"].argmax()

In [ ]:
msft["MA50"]=msft["close"].rolling(50).mean()
msft["MA200"]=msft["close"].rolling(200).mean()

In [ ]:
msft

In [ ]:
msft[["MA50","close","MA200"]].plot(figsize=(10,5))

HOME WORK

Calculate the MA50 and MA200 for all stocks .
plot the line chart for all of them
what are your observations?what kind of information  you can get from those charts?
Refractor all the code into functions

In [ ]:
aapl['Total Trade'].argmax()

In [ ]:
aapl["MA50"]=msft["close"].rolling(50).mean()                  
aapl["MA200"]=msft["close"].rolling(200).mean()

In [ ]:
aapl[["MA50","close","MA200"]].plot(figsize=(10,5))

In [ ]:
goog['Total Trade'].argmax()

In [ ]:
goog["MA50"]=msft["close"].rolling(50).mean()                  
goog["MA200"]=msft["close"].rolling(200).mean()

In [ ]:
goog[["MA50","close","MA200"]].plot(figsize=(10,5))

In [ ]:
amzn['Total Trade'].argmax()

In [ ]:
amzn["MA50"]=msft["close"].rolling(50).mean()                  
amzn["MA200"]=msft["close"].rolling(200).mean()

In [ ]:
amzn[["MA50","close","MA200"]].plot(figsize=(10,5))

MSFT plot using function

In [ ]:
def moving_average_chart(dataset,title,column):
    dataset["MA50"]=dataset["close"].rolling(50).mean()
    dataset["MA200"]=dataset["close"].rolling(200).mean()
    dataset[["MA50","close","MA200"]].plot(figsize=(10,5),title=title)

In [ ]:
moving_average_chart(aapl,"Apple Moving Average 50 and 200","close")

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
all_companies=pd.concat([
    aapl["close"],
    amzn["close"],
    msft["close"],
    goog["close"]
])

In [ ]:
all_companies

In [ ]:
all_companies=pd.concat([
    aapl["close"],
    amzn["close"],
    msft["close"],
    goog["close"]
],axis=1)

In [ ]:
all_companies.columns=["Apple","Amazon","Microsoft","Google"]
all_companies.head()

In [ ]:
scatter_matrix(
    all_companies,
    figsize=(10,10),
    alpha=0.2,
    hist_kwds={'bins':50})
plt.show()

Daily Percntage change

$r_t=\frac{p_t}{p_{t-1}}-1$

rt=return

In [ ]:
goog["daily_return"]=(goog["close"]/goog["close"].shift(1))-1

In [ ]:
goog

In [ ]:
# using function
def cal_daily_return(*args):
    for dataset in args:
        dataset["daily_return"]=(dataset["close"]/dataset["close"].shift(1))-1

In [ ]:
cal_daily_return(goog,amzn,msft,aapl)

In [ ]:
goog.head()

Histogram

In [ ]:
goog["daily_return"].hist(bins=50)

In [ ]:
aapl["daily_return"].hist(bins=50)

In [ ]:
# using function
def plot_histogram(labels,*args):
    concat_list=[]
    for dataset in args:
        concat_list.append(dataset["daily_return"])
        
    merged_df=pd.concat(concat_list,axis=1)
    merged_df.columns=labels
#         dataset["daily_return"].hist(bins=50,label=labels[index])
    for col in merged_df.columns:
        merged_df[col].hist(bins=50,label=col,figsize=(10,5))
    plt.legend()
    return merged_df

In [ ]:
df=plot_histogram(
    ["Apple","Google","Amazon","Microsoft"],
    aapl,goog,amzn,msft)

In [ ]:
# another way
def plot_histogram2(labels,*args):
    index=-1
    for dataset in args:
        index+=1
        dataset["daily_return"].hist(bins=50,label=labels[index])
    plt.legend()

In [ ]:
df=plot_histogram2(
    ["Apple","Google","Amazon","Microsoft"],
    aapl,goog,amzn,msft)

In [ ]:
# another way
def plot_histogram3(labels,*args):
    for dataset in args:
        dataset["daily_return"].hist(bins=50,figsize=(10,5),alpha=0.5)
    plt.legend(labels)

In [ ]:
df=plot_histogram3(
    ["Apple","Google","Amazon","Microsoft"],
    aapl,goog,amzn,msft)

In [ ]:
# KDE
def plot_kde(labels,*args):
    index=-1
    for dataset in args:
        index+=1
        dataset["daily_return"].plot(kind="kde",label=labels[index],figsize=(10,6))
    plt.legend()

In [ ]:
plot_kde(
    ["Apple","Google","Amazon","Microsoft"],
    aapl,goog,amzn,msft)

In [ ]:
# Box
def plot_box(labels,*args):
    index=-1
    for dataset in args:
        index+=1
        dataset["daily_return"].plot(kind="box",label=labels[index],figsize=(10,6))
    plt.legend()

In [ ]:
plot_box(
    ["Apple","Google","Amazon","Microsoft"],
    aapl,goog,amzn,msft)

above box is not exactly correct  can't find right answer

In [ ]:
box_df=pd.concat([
    aapl["daily_return"],
    goog["daily_return"],
    amzn["daily_return"],
    msft["daily_return"],
],axis=1)
box_df.columns=["Apple","Google","Amazon","Microsoft"]

In [ ]:
box_df.head()

In [ ]:
box_df.plot(kind="box",figsize=(10,10))

home work

-Calculate the cumulative return
-plot a line chart shows all of the cumulative returns